<div class="wf-section">
  <div class="container-2 w-container">
    <h1 class="titulo-section">Ingressos</h1>
    <div class="full-width w-dyn-list">
      <div role="list" class="products w-dyn-items">
        <div role="listitem" class="product-card-wrapper w-dyn-item">
          <a routerLink="alojamento-feminino"
            class="product-card w-inline-block">
            <div class="product-card-image-wrapper">
              <img
                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                loading="lazy" width="137"
                src="https://uploads-ssl.webflow.com/61591ea89bf0550c6b388de3/615a44d3a889a1432f44ce9e_double-bed-flat-icon-by-Vexels.png"
                alt="" sizes="(max-width: 479px) 53vw, (max-width: 767px) 27vw, (max-width: 991px) 18vw, 117px"
                srcset="https://uploads-ssl.webflow.com/61591ea89bf0550c6b388de3/615a44d3a889a1432f44ce9e_double-bed-flat-icon-by-Vexels-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0550c6b388de3/615a44d3a889a1432f44ce9e_double-bed-flat-icon-by-Vexels-p-800.png 800w, https://uploads-ssl.webflow.com/61591ea89bf0550c6b388de3/615a44d3a889a1432f44ce9e_double-bed-flat-icon-by-Vexels-p-1080.png 1080w, https://uploads-ssl.webflow.com/61591ea89bf0550c6b388de3/615a44d3a889a1432f44ce9e_double-bed-flat-icon-by-Vexels-p-1600.png 1600w, https://uploads-ssl.webflow.com/61591ea89bf0550c6b388de3/615a44d3a889a1432f44ce9e_double-bed-flat-icon-by-Vexels.png 1920w">
            </div>
            <h6 class="product-card-heading">Ingresso Alojamento Feminino</h6>
            <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
              class="product-card-price">R$ 250,00</div>
          </a>
        </div>
        <div role="listitem" class="product-card-wrapper w-dyn-item">
          <a routerLink="cabana-masculino"
            class="product-card w-inline-block">
            <div class="product-card-image-wrapper"><img
                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                loading="lazy" width="137"
                src="https://uploads-ssl.webflow.com/61591ea89bf0550c6b388de3/615a42b1bfd51f82e28ac115_dfb340f36c882eb2a677f521b351cb38-cabana-plana-boho-wigwam-verde.png"
                alt="" sizes="(max-width: 479px) 53vw, (max-width: 767px) 27vw, (max-width: 991px) 18vw, 117px"
                srcset="https://uploads-ssl.webflow.com/61591ea89bf0550c6b388de3/615a42b1bfd51f82e28ac115_dfb340f36c882eb2a677f521b351cb38-cabana-plana-boho-wigwam-verde-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0550c6b388de3/615a42b1bfd51f82e28ac115_dfb340f36c882eb2a677f521b351cb38-cabana-plana-boho-wigwam-verde.png 512w">
            </div>
            <h6 class="product-card-heading">Ingresso Cabana Masculino</h6>
            <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
              class="product-card-price">R$ 250,00</div>
          </a>
        </div>
        <div role="listitem" class="product-card-wrapper w-dyn-item">
          <a routerLink="alojamento-masculino"
            class="product-card w-inline-block">
            <div class="product-card-image-wrapper"><img
                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                loading="lazy" width="137"
                src="https://uploads-ssl.webflow.com/61591ea89bf0550c6b388de3/615a44d3a889a1432f44ce9e_double-bed-flat-icon-by-Vexels.png"
                alt="" sizes="(max-width: 479px) 53vw, (max-width: 767px) 27vw, (max-width: 991px) 18vw, 117px"
                srcset="https://uploads-ssl.webflow.com/61591ea89bf0550c6b388de3/615a44d3a889a1432f44ce9e_double-bed-flat-icon-by-Vexels-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0550c6b388de3/615a44d3a889a1432f44ce9e_double-bed-flat-icon-by-Vexels-p-800.png 800w, https://uploads-ssl.webflow.com/61591ea89bf0550c6b388de3/615a44d3a889a1432f44ce9e_double-bed-flat-icon-by-Vexels-p-1080.png 1080w, https://uploads-ssl.webflow.com/61591ea89bf0550c6b388de3/615a44d3a889a1432f44ce9e_double-bed-flat-icon-by-Vexels-p-1600.png 1600w, https://uploads-ssl.webflow.com/61591ea89bf0550c6b388de3/615a44d3a889a1432f44ce9e_double-bed-flat-icon-by-Vexels.png 1920w">
            </div>
            <h6 class="product-card-heading">Ingresso Alojamento Masculino</h6>
            <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
              class="product-card-price">R$ 250,00</div>
          </a>
        </div>
        <div role="listitem" class="product-card-wrapper w-dyn-item">
          <a routerLink="cabana-feminino"
            class="product-card w-inline-block">
            <div class="product-card-image-wrapper"><img
                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                loading="lazy" width="137"
                src="https://uploads-ssl.webflow.com/61591ea89bf0550c6b388de3/615a42b1bfd51f82e28ac115_dfb340f36c882eb2a677f521b351cb38-cabana-plana-boho-wigwam-verde.png"
                alt="" sizes="(max-width: 479px) 53vw, (max-width: 767px) 27vw, (max-width: 991px) 18vw, 117px"
                srcset="https://uploads-ssl.webflow.com/61591ea89bf0550c6b388de3/615a42b1bfd51f82e28ac115_dfb340f36c882eb2a677f521b351cb38-cabana-plana-boho-wigwam-verde-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0550c6b388de3/615a42b1bfd51f82e28ac115_dfb340f36c882eb2a677f521b351cb38-cabana-plana-boho-wigwam-verde.png 512w">
            </div>
            <h6 class="product-card-heading">Ingresso Cabana Feminino</h6>
            <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
              class="product-card-price">R$ 250,00</div>
          </a>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
