<div class="wf-section">
  <div class="container-2 w-container">
    <div *ngIf="jaInscrito" style="display: flex; justify-content: center; color: #fff">
      <h1>Você já se inscreveu para o acampamento Saluz 2022</h1>
    </div>
    <div *ngIf="isLoading && !jaInscrito" style="display: flex; flex-direction: row; justify-content: center;">
      <mat-spinner>
      </mat-spinner>
    </div>
    <form *ngIf="!isLoading && !jaInscrito" class="row g3" (ngSubmit)="submit()">

      <!-- Passo 1 -->
      <ng-container *ngIf="passo === 1 && !jaInscrito">
        <h1>Dados do Participante</h1>
        <div class="col-lg-6 col-12 mb-3">
          <label class="form-label">Nome Completo</label>
          <input class="form-control" type="text" name="nome" [(ngModel)]="inscricao.nome">
        </div>
        <div class="col-lg-6 col-12 mb-3">
          <label class="form-label">E-mail</label>
          <input class="form-control" type="email" name="email" [(ngModel)]="inscricao.email">
        </div>
        <div class="col-lg-3 col-7 mb-3">
          <label class="form-label">Celular</label>
          <input class="form-control" type="text" mask="(00) 00000-0000" name="celular" [(ngModel)]="inscricao.celular">
        </div>
        <div class="col-lg-3 col-5 mb-3">
          <label class="form-label">Sexo</label>
          <select class="form-select" name="sexo" [(ngModel)]="inscricao.sexo">
            <option value="">Selecione</option>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
          </select>
        </div>
        <div class="col-lg-2 col-4 mb-3">
          <label class="form-label">Idade</label>
          <select class="form-select" name="idade" [(ngModel)]="inscricao.idade">
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
          </select>
        </div>
        <div class="col-lg-4 col-8 mb-3">
          <label class="form-label">Igreja</label>
          <select class="form-select" name="igreja" [(ngModel)]="inscricao.igreja">
            <option value="IBLN">IBLN</option>
            <option value="Outras">Outras</option>
          </select>
        </div>
        <!-- <hr> -->


        <h1 class="mt-3">Dados de Pagamento</h1>

        <div class="col-lg-3 col-12">
          <label for="" class="form-label">Valor do Ingresso</label>
          <input type="text" class="form-control" disabled value="R$ 250,00">
        </div>

        <div class="col-lg-3 col-12">
          <label class="form-label">Quantidade de Parcelas</label>
          <select class="form-select" name="parcelas" [(ngModel)]="inscricao.quantidadeParcelas">
            <option value="1">1 de R$ 250,00</option>
            <option value="2">2 de R$ 125,00</option>
            <!-- <option value="3"></option> -->
            <option value="4">4 de R$ 62,50</option>
            <option value="5">5 de R$ 50,00</option>
          </select>
        </div>

        <div class="col-lg-3 col-6">
          <label class="form-label">Primeira Parcela</label>
          <input type="date" class="form-control" [(ngModel)]="inscricao.dataPrimeiroPagamento">
        </div>

        <div class="col-lg-3 col-6">
          <label class="form-label">Parcelas Mensais</label>
          <select class="form-select" name="vencimento" [(ngModel)]="inscricao.vencimento">
            <option value="1">dia 1</option>
            <option value="2">dia 2</option>
            <option value="3">dia 3</option>
            <option value="4">dia 4</option>
            <option value="5">dia 5</option>
            <option value="6">dia 6</option>
            <option value="7">dia 7</option>
            <option value="8">dia 8</option>
            <option value="9">dia 9</option>
            <option value="10">dia 10</option>
            <option value="11">dia 11</option>
          </select>
        </div>

        <div class="col-lg-12 col-12 mt-3 mb-3">
          <label class="form-label">*O pagamento da primeira parcela deverá ser efetuado até o dia 31/10/2021</label>
          <br>
          <label class="form-label">*Para as parcelas mensais, escolha um dia fixo para pagamento</label>
        </div>

      </ng-container>

       <!-- Passo 2 -->
      <ng-container *ngIf="passo === 2 && !jaInscrito">
        <mat-tab-group mat-stretch-tabs dynamicHeight (selectedTabChange)="abaMudou($event)">
          <mat-tab label="ALOJAMENTO">
            <div class="alojamento mt-2 row">
              <div class="col-lg-6 col-12">
                <img class="imagem-quarto img-fluid" [src]="imagemAlojamento()">
              </div>
              <div class="col-lg-6 col-12">
                <div class="form-check-inline">
                  <label *ngFor="let cama of camasDisponiveis" class="label-checkbox" [id]="'label-cama-' + cama.codigo"
                    [ngClass]="cama.disponivel ? 'disponivel' : 'indisponivel'"
                    (click)="teste(cama.codigo, 'A')">{{cama.codigo}}</label>
                </div>
              </div>

            </div>
          </mat-tab>
          <mat-tab label="BARRACA">
            <div class="barracas">
              <div class="barraca row" *ngFor="let barraca of barracas">
                <div style="display: flex; align-items: center;" class="col-lg-2 col-5 flex-row">
                  <img class="img-fluid"
                    src="https://uploads-ssl.webflow.com/61591ea89bf0550c6b388de3/615a42b1bfd51f82e28ac115_dfb340f36c882eb2a677f521b351cb38-cabana-plana-boho-wigwam-verde.png">
                  <label>{{barraca.codigo > 9 ? barraca.codigo : '0' + barraca.codigo}}</label>
                </div>
                <div class="offset-lg-6 offset-3 col-3">
                  <div class="vagas">
                    <div class="form-check-inline" *ngFor="let vaga of barraca.vagas">
                      <label class="form-check-label label-checkbox"
                        [id]="'label-barraca-' + barraca.codigo + '-' + vaga.codigo"
                        [ngClass]="vaga.disponivel ? 'disponivel' : 'indisponivel'"
                        (click)="teste(barraca.codigo, 'B', vaga.codigo)">{{vaga.codigo}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>

        <hr>

      </ng-container>

       <!-- Passo 3 -->
       <ng-container *ngIf="passo === 3 && !jaInscrito">
        <div style="display: flex; flex-direction: column;">
          <img [src]="pegarCodigoInscricao()" class="img-fluid">
          <a [href]="pegarCodigoInscricao()" download="ingresso.png">Link para Download do ingresso</a>
        </div>
       </ng-container>
      <button type="button" class="btn btn-dark" *ngIf="passo === 1" (click)="irPasso2()">Proximo</button>
      <button type="submit" class="btn btn-dark" *ngIf="passo === 2">Inscrever</button>
      <button type="button" class="btn btn-light mt-3" *ngIf="passo === 2" (click)="irPasso1()">Voltar</button>
    </form>
  </div>
</div>
