<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"
  role="banner" class="nav-bar w-nav">
  <div class="nav-top">
    <div class="wrapper nav-top-wrapper">
      <div class="text-block">SALUZ</div>
      <div class="nav-top-info"></div>
    </div>
  </div>
  <div class="nav-top-menu">
    <div class="wrapper nav-top-wrapper">
      <div class="nav-top-info"></div>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="/" aria-current="page" class="nav-link w-nav-link">HOME</a>
        <a href="#encontros-saluz" class="nav-link w-nav-link">ENCONTROS SALUZ</a>
        <a href="#cultos-saluz" class="nav-link w-nav-link">CULTOS SALUZ</a>
        <a href="#acampasaluz-2020" class="nav-link w-nav-link">ACAMPASALUZ 2020</a>
        <a href="#preacampa2022" class="nav-link w-nav-link">PRÉ ACAMPA 2022</a>
        <a href="#acampasaluz-2022" class="nav-link w-nav-link">ACAMPASALUZ 2022</a>
        <a routerLink="/comprar-ingresso" aria-current="page" class="nav-link w-nav-link">COMPRE SEU INGRESSO</a>
        <a href="#instagram" class="nav-link w-nav-link">INSTAGRAM</a>
      </nav>
    </div>
  </div>
</div>