<div id="slider-home" class="slider-home wf-section">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a2a412f38eb043eece0fa_IMG_9838.JPG"
          alt="Random first slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a152dadbad3a5ba50a692_IMG_9801.JPG"
          alt="Random first slide">
      </div>
    </ng-template>
  </ngb-carousel>
  <!-- <div data-animation="slide" data-duration="500" data-infinite="1" id="home" class="slider w-slider">
    <div class="w-slider-mask">
      <div class="slide w-slide"></div>
      <div class="slide-2 w-slide"></div>
    </div>
    <div class="w-slider-arrow-left">
      <div class="w-icon-slider-left"></div>
    </div>
    <div class="w-slider-arrow-right">
      <div class="w-icon-slider-right"></div>
    </div>
    <div class="w-slider-nav w-round"></div>
  </div> -->
</div>
<div id="encontros-saluz" class="encontros-saluz wf-section">
  <div id="encontro-villa" class="container w-container">
    <div class="div-h1">
      <h1 class="titulo-section">ENCONTROS saluz</h1>
    </div>
    <div class="columns w-row">
      <div class="w-col w-col-6">
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
          eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
          libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
          tristique posuere.</p>
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
          eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
          libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
          tristique posuere.</p>
      </div>
      <div class="w-col w-col-6">
        <ngb-carousel>
          <!-- Slide 3 -->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a152b7bec5cc9cfd3c3a1_WhatsApp%20Image%202021-10-03%20at%205.38.27%20PM%20(1).jpeg"
                alt="Random first slide">
            </div>
          </ng-template>
          <!-- Slide 4 -->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a152b63619d2fb8b3f348_WhatsApp%20Image%202021-10-03%20at%205.38.28%20PM.jpeg"
                alt="Random first slide">
            </div>
          </ng-template>
          <!-- Slide 5 -->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a152a9319e3721fe8e039_WhatsApp%20Image%202021-10-03%20at%205.38.29%20PM%20(1).jpeg"
                alt="Random first slide">
            </div>
          </ng-template>
          <!-- Slide 6 -->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a152b6b569d9774358ad1_WhatsApp%20Image%202021-10-03%20at%205.38.29%20PM.jpeg"
                alt="Random first slide">
            </div>
          </ng-template>
          <!-- Slide 7 -->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a152d0d59307f32f5da60_IMG_9873.jpeg"
                alt="Random first slide">
            </div>
          </ng-template>
        </ngb-carousel>
        <!-- <div data-animation="slide" data-duration="500" data-infinite="1" class="slider-fotos w-slider">
          <div class="w-slider-mask">
            <div class="slide-3 w-slide"></div>
            <div class="slide-4 w-slide"></div>
            <div class="slide-5 w-slide"></div>
            <div class="slide-6 w-slide"></div>
            <div class="slide-7 w-slide"></div>
          </div>
          <div class="w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="w-slider-nav w-round"></div>
        </div> -->
      </div>
    </div>
    <div class="div-block">
      <h1 class="titulo-section">COMPAREÇA NO PRÓXIMO ENCONTRO SALUZ</h1>
      <h1 class="titulo-section">16/10 ÀS 09H</h1>
    </div>
    <div class="local">
      <div class="w-row">
        <div class="column-2 w-col w-col-2"><img
            src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a1d7c61b8944f5494471d_mapa.png"
            loading="lazy" width="75" alt="" /></div>
        <div class="column-3 w-col w-col-10">
          <p class="paragraph-2">Parque Villa Lobos<br />Av. Prof. Fonseca Rodrigues, 2001 - Alto de Pinheiros, São
            Paulo - SP, 05461-010<br />Ponto de Encontro: Concha Acústica</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="cultos-saluz" class="cultos-saluz wf-section">
  <div id="encontro-villa" class="container w-container">
    <div class="div-h1">
      <h1 class="titulo-section">cultos saluz</h1>
    </div>
    <div class="columns w-row">
      <div class="w-col w-col-6">
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
          eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
          libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
          tristique posuere.</p>
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
          eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
          libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
          tristique posuere.</p>
      </div>
      <div class="w-col w-col-6">
        <ngb-carousel>
          <!-- Slide 8 -->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a164856b3375600b0a0fc_IMG_8627.jpeg"
                alt="Random first slide">
            </div>
          </ng-template>
          <!-- Slide 9 -->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a152dadbad3a5ba50a692_IMG_9801.JPG"
                alt="Random first slide">
            </div>
          </ng-template>
          <!-- Slide 10 -->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a152c5c0410ad7a3b47e6_IMG_8613.jpeg"
                alt="Random first slide">
            </div>
          </ng-template>
          <!-- Slide 11 -->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a152d6e5982654727c5bb_IMG_8648.jpeg"
                alt="Random first slide">
            </div>
          </ng-template>
          <!-- Slide 12 -->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a164cd0b0fe7550abbd61_IMG_8651.jpeg"
                alt="Random first slide">
            </div>
          </ng-template>
        </ngb-carousel>
        <!-- <div data-animation="slide" data-duration="500" data-infinite="1" class="slider-fotos w-slider">
          <div class="w-slider-mask">
            <div class="slide-8 w-slide"></div>
            <div class="slide-9 w-slide"></div>
            <div class="slide-10 w-slide"></div>
            <div class="slide-11 w-slide"></div>
            <div class="slide-12 w-slide"></div>
          </div>
          <div class="w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="w-slider-nav w-round"></div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div id="acampasaluz-2020" class="acampasaluz-2020 wf-section">
  <div id="encontro-villa" class="container w-container">
    <div class="div-h1">
      <h1 class="titulo-section">acampa saluz 2020</h1>
    </div>
    <div class="columns w-row">
      <div class="w-col w-col-6">
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
          eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
          libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
          tristique posuere.</p>
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
          eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
          libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
          tristique posuere.</p>
      </div>
      <div class="w-col w-col-6">
        <ngb-carousel>
          <!-- Slide 13 -->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a18f9ad04b548fc150f85_WhatsApp%20Image%202021-10-03%20at%205.52.31%20PM.jpeg"
                alt="Random first slide">
            </div>
          </ng-template>
          <!-- Slide 14 -->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a18f822b48ce4ea182205_WhatsApp%20Image%202021-10-03%20at%205.52.30%20PM%20(1).jpeg"
                alt="Random first slide">
            </div>
          </ng-template>
          <!-- Slide 15 -->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a18f83ccc610bd7180a1f_WhatsApp%20Image%202021-10-03%20at%205.52.29%20PM.jpeg"
                alt="Random first slide">
            </div>
          </ng-template>
          <!-- Slide 16 -->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a18f85c041013403b633c_WhatsApp%20Image%202021-10-03%20at%205.52.30%20PM.jpeg"
                alt="Random first slide">
            </div>
          </ng-template>
          <!-- Slide 17 -->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a18f722b48cc8cd182204_WhatsApp%20Image%202021-10-03%20at%205.52.28%20PM.jpeg"
                alt="Random first slide">
            </div>
          </ng-template>
        </ngb-carousel>
        <!-- <div data-animation="slide" data-duration="500" data-infinite="1" class="slider-fotos w-slider">
          <div class="w-slider-mask">
            <div class="slide-13 w-slide"></div>
            <div class="slide-14 w-slide"></div>
            <div class="slide-15 w-slide"></div>
            <div class="slide-16 w-slide"></div>
            <div class="slide-17 w-slide"></div>
          </div>
          <div class="w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="w-slider-nav w-round"></div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div id="preacampa2022" class="preacampa2022 wf-section">
  <div id="encontro-villa" class="container w-container">
    <div class="div-h1">
      <h1 class="titulo-section">pré acampa 2022</h1>
    </div>
    <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
      elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero
      vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique
      posuere.</p>
    <p class="paragraph">Clique nas imagens abaixo para ampliá-las</p>
    <div class="colunas-preacampa w-row">
      <div class="coluna-preacampa w-col w-col-3"><a href="#" class="w-inline-block w-lightbox"><img
            src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a21ef22b48c1cf91854ff_IMG_9464.jpeg"
            loading="lazy" width="193"
            sizes="(max-width: 479px) 193px, (max-width: 767px) 40vw, (max-width: 991px) 22vw, 193px"
            srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a21ef22b48c1cf91854ff_IMG_9464-p-500.jpeg 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a21ef22b48c1cf91854ff_IMG_9464-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a21ef22b48c1cf91854ff_IMG_9464-p-1600.jpeg 1600w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a21ef22b48c1cf91854ff_IMG_9464-p-2000.jpeg 2000w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a21ef22b48c1cf91854ff_IMG_9464.jpeg 2048w"
            alt="" class="image-preacampa" />
          <script type="application/json" class="w-json">{
"items": [
{
  "width": 2048,
  "caption": "",
  "height": 1536,
  "fileName": "IMG_9464.jpeg",
  "origFileName": "IMG_9464.jpeg",
  "url": "https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a21ef22b48c1cf91854ff_IMG_9464.jpeg",
  "_id": "615a21ef22b48c1cf91854ff",
  "type": "image",
  "fileSize": 764151
}
]
}</script>
        </a></div>
      <div class="coluna-preacampa w-col w-col-3"><a href="#" class="w-inline-block w-lightbox"><img
            src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1).png"
            loading="lazy" sizes="(max-width: 479px) 193px, (max-width: 767px) 40vw, (max-width: 991px) 22vw, 193px"
            srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-800.png 800w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-1080.png 1080w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-1600.png 1600w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1).png 1920w"
            alt="" class="image-preacampa" /></a></div>
      <div class="coluna-preacampa w-col w-col-3"><a href="#" class="w-inline-block w-lightbox"><img
            src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1).png"
            loading="lazy" sizes="(max-width: 479px) 193px, (max-width: 767px) 40vw, (max-width: 991px) 22vw, 193px"
            srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-800.png 800w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-1080.png 1080w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-1600.png 1600w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1).png 1920w"
            alt="" class="image-preacampa" /></a></div>
      <div class="coluna-preacampa w-col w-col-3"><a href="#" class="w-inline-block w-lightbox"><img
            src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1).png"
            loading="lazy" sizes="(max-width: 479px) 193px, (max-width: 767px) 40vw, (max-width: 991px) 22vw, 193px"
            srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-800.png 800w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-1080.png 1080w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-1600.png 1600w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1).png 1920w"
            alt="" class="image-preacampa" /></a></div>
    </div>
    <div class="colunas-preacampa-text w-row">
      <div class="coluna-preacampa-text w-col w-col-3">
        <h5 class="h5">Setembro</h5>
      </div>
      <div class="coluna-preacampa-text w-col w-col-3">
        <h5 class="h5">Outubro</h5>
      </div>
      <div class="coluna-preacampa-text w-col w-col-3">
        <h5 class="h5">Novembro</h5>
      </div>
      <div class="coluna-preacampa-text w-col w-col-3">
        <h5 class="h5">Dezembro</h5>
      </div>
    </div>
  </div>
</div>
<div id="acampasaluz-2022" class="acampasaluz-2022 wf-section">
  <div id="encontro-villa" class="container w-container">
    <div class="div-h1">
      <div class="div-h1">
        <h1 class="titulo-section">acampa saluz 2022</h1>
      </div>
    </div>
    <div class="columns w-row">
      <div class="w-col w-col-6">
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
          eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
          libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
          tristique posuere.</p>
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
          eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
          libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
          tristique posuere.</p>
      </div>
      <div class="w-col w-col-6">
        <div data-animation="slide" data-duration="500" data-infinite="1" class="slider-fotos w-slider">
          <div class="w-slider-mask">
            <div class="slide-18 w-slide"></div>
            <div class="slide-19 w-slide"></div>
          </div>
          <div class="w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="w-slider-nav w-round"></div>
        </div>
      </div>
    </div><a href="/compre-seu-ingresso" class="link-block w-inline-block">
      <div class="div-block botao-ingresso">Adquira já seu ingresso!</div>
    </a>
  </div>
</div>
<div class="section video-section wf-section">
  <div class="wrapper">
    <div data-w-id="3c65db2d-dfc4-c6e7-82f4-ccf13df0f1d5" style="opacity:0" class="intro wide no-margin">
      <h2 class="heading">Vocês são o sal da terra. Mas, se o sal perder o seu sabor, como restaurá-lo? Não servirá
        para nada, exceto para ser jogado fora e pisado pelos homens. Vocês são a luz do mundo (...)</h2>
      <p class="paragraph-3">Mateus 5 : 13 - 14</p><a href="#" class="w-inline-block"><img
          src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a2d7a7bec5c5e35d442a7_Design%20sem%20nome%20(6).png"
          loading="lazy" width="67" sizes="67px"
          srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a2d7a7bec5c5e35d442a7_Design%20sem%20nome%20(6)-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a2d7a7bec5c5e35d442a7_Design%20sem%20nome%20(6)-p-800.png 800w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a2d7a7bec5c5e35d442a7_Design%20sem%20nome%20(6).png 1080w"
          alt="" class="image-3" /></a>
    </div>
  </div>
</div>
<div id="instagram" class="section haze wf-section">
  <div class="wrapper-instagram">
    <div class="intro">
      <h2 class="no-margin-bottom">Estamos no Instagram!</h2>
    </div>
    <div data-w-id="6e1d3527-5090-7380-17f7-30bf0f5a58b4" class="instagram"><a href="https://instagram.com/saluz.ibln"
        target="_blank" class="instagram-link w-inline-block"><img
          src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30abad04b54507158efc_Screenshot_1.png"
          sizes="(max-width: 767px) 30vw, (max-width: 991px) 22vw, 14vw"
          srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30abad04b54507158efc_Screenshot_1-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30abad04b54507158efc_Screenshot_1.png 748w"
          alt="" class="full-width" /></a><a href="https://instagram.com/saluz.ibln" target="_blank"
        class="instagram-link w-inline-block"><img
          src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acc7652304ee609e6f_Screenshot_3.png"
          sizes="(max-width: 767px) 30vw, (max-width: 991px) 22vw, 14vw"
          srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acc7652304ee609e6f_Screenshot_3-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acc7652304ee609e6f_Screenshot_3.png 747w"
          alt="" class="full-width" /></a><a href="https://instagram.com/saluz.ibln" target="_blank"
        class="instagram-link w-inline-block"><img
          src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acad04b5738c158efd_Screenshot_5.png"
          sizes="(max-width: 767px) 30vw, (max-width: 991px) 22vw, 14vw"
          srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acad04b5738c158efd_Screenshot_5-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acad04b5738c158efd_Screenshot_5.png 747w"
          alt="" class="full-width" /></a><a href="https://instagram.com/saluz.ibln" target="_blank"
        class="instagram-link w-inline-block"><img
          src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acc7652303de609e6e_Screenshot_4.png"
          sizes="(max-width: 767px) 30vw, (max-width: 991px) 22vw, 14vw"
          srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acc7652303de609e6e_Screenshot_4-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acc7652303de609e6e_Screenshot_4.png 747w"
          alt="" class="full-width" /></a><a href="https://instagram.com/saluz.ibln" target="_blank"
        class="instagram-link w-inline-block"><img
          src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acdfb167770bdc8e08_Screenshot_6.png"
          sizes="(max-width: 767px) 30vw, (max-width: 991px) 22vw, 14vw"
          srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acdfb167770bdc8e08_Screenshot_6-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acdfb167770bdc8e08_Screenshot_6.png 745w"
          alt="" class="full-width" /></a><a href="https://instagram.com/saluz.ibln" target="_blank"
        class="instagram-link w-inline-block"><img
          src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acbceb090c1e87594a_Screenshot_7.png"
          sizes="(max-width: 767px) 30vw, (max-width: 991px) 22vw, 14vw"
          srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acbceb090c1e87594a_Screenshot_7-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acbceb090c1e87594a_Screenshot_7.png 744w"
          alt="" class="full-width" /></a></div><a href="https://instagram.com/saluz.ibln" target="_blank"
      class="button w-button">See More Photos</a>
  </div>
</div>
<app-footer></app-footer>