<form class="row g3" (ngSubmit)="submit()">
  <h2>Alojamento Feminino</h2>
  <div class="checkout">
    <div>
      <h3>
        Camas A
      </h3>
      <small>Camas que ficam na parte de baixo</small>
    </div>
    <div *ngIf="alojamento" class="camas">
      <div class="form-check form-check-inline" *ngFor="let cama of camasA">
        <input [(ngModel)]="camaEscolhida" name="cama" type="radio" class="form-check-input" [value]="{ id: cama.id, tipo: 'A' }" [attr.disabled]="cama.disponivel ? null : 'disabled'">
        <label class="form-check-label">{{cama.id}}</label>
      </div>
    </div>
  </div>

  <hr>

  <div class="checkout">
    <div>
      <h3>
        Camas B
      </h3>
      <small>Camas que ficam na parte de cima</small>
    </div>
    <div *ngIf="alojamento" class="camas">
      <div class="form-check form-check-inline" *ngFor="let cama of camasB">
        <input [(ngModel)]="camaEscolhida" name="cama" type="radio" class="form-check-input" [attr.disabled]="cama.disponivel ? null : 'disabled'" [value]="{ id: cama.id, tipo: 'B' }">
        <label class="form-check-label">{{cama.id}}</label>
      </div>
    </div>
  </div>

  <hr>

  <div class="col-12">
    <label class="form-label">Nome</label>
    <input class="form-control" type="text" name="nome" [(ngModel)]="nome">
  </div>
  <div class="col-6 mb-5">
    <label class="form-label">Email</label>
    <input class="form-control" type="email" name="email" [(ngModel)]="email">
  </div>

  <div class="col-6 mb-5">
    <label class="form-label">Celular</label>
    <input class="form-control" type="text" mask="(00) 00000-0000" name="celular" [(ngModel)]="celular">
  </div>
  <button type="submit" class="btn btn-success">Inscrever</button>
</form>
